{% extends "layout/root.html.twig" %}
{% block body %}
  {% include "admin/blocks/menu.html.twig" %}
  <div class="container container-wide card mb-2">
    <h2 class="d-flex mb-2">
      Notices
      <a href="{{ path("admin_dashboard_notices_create") }}" class="btn btn-main ml-auto">Create</a>
    </h2>

    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th style="width: 75px">ID</th>
          <th>Name</th>
          <th class="text-right">Date Created</th>
        </tr>
      </thead>
      <tbody>
        {% for notice in notices %}
          <tr class="tr-notice" data-notice-id="{{ notice.id }}" style="cursor: pointer">
            <td>{{ notice.id }}</td>
            <td>{{ notice.name }}</td>
            <td class="text-right">{{ notice.dateCreated|date('F j, Y') }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <script>
    $(function() {
      $('.tr-notice').on('click', function(e) {
        let nid = e.currentTarget.getAttribute('data-notice-id');
        document.location.href = '/admin/notices/' + nid;
      });
    });
  </script>
{% endblock %}
